* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 150px;
  height: 150px;
}

.box-container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: rgb(173, 109, 109);
  margin: 10px auto;
}

.box1 {
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box2 {
  background-color: blue;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
